:root {
  --primary-color: #ff5841;
  --primary-black: #000;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(4rem, 1fr)
    [full-end];

  /* Allow rows to auto-size based on the sections in your image */
}

section {
  min-height: 100vh;
}
