:root {
  --primary-color: #ff5841;
  --primary-black: #000;
}

/*  --breakpoint-small: 18em;
  --breakpoint-medium: 48em;
  --breakpoint-large: 64em;
  --breakpoint-xlarge: 75em;
  --breakpoint-xxlarge: 118em; */

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(4rem, 1fr)
    [full-end];
}

.section-header {
  font-size: 6.5rem;
  font-weight: 300;
}

.header-span {
  color: var(--primary-color);
}

.section-subTitle {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}
