:root {
  --primary-color: #ff5841;
  --primary-black: #000;
}

.grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(4rem, 1fr)
    [full-end];
}

.section-header {
  font-size: 3.7rem;
  font-weight: 300;
}

.header-span {
  color: var(--primary-color);
}

.section-subTitle {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}
