*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", san-serif;
  line-height: 1.6;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
  }
}
