.about {
  display: grid;
  grid-row: 3;
  grid-column: 2 / 14;
  column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
}

.viewHeight {
  min-height: 50vh !important;
}

.about-title {
  font-size: 3.7rem;
  font-weight: 300;
  color: var(--primary-color);
  border-left: 0.3rem solid var(--primary-color);
  padding-left: 1rem;
  margin-bottom: 0.3rem;
}

.about-image {
  align-self: center;
}

.aboutImage {
  border-radius: 2rem;
}

.about-text {
  font-size: 1.1rem;
}
