.about {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(4rem, 1fr)
    [full-end];
  grid-row: 3;
  grid-column: 1/ -1;
  background-color: black;
  padding: 8rem 0rem;
}

.about-container {
  display: grid;
  grid-column: 2/14;
  column-gap: 2rem;
  color: white;
  grid-template-columns: repeat(2, 1fr);
}

/* .viewHeight {
  min-height: 50vh !important;
} */

.about-title {
  font-size: 3.7rem;
  font-weight: 300;
  color: var(--primary-color);
  border-left: 0.3rem solid var(--primary-color);
  padding-left: 1rem;
  margin-bottom: 0.3rem;
}

.about-image {
  align-self: center;
}

.aboutImage {
  border-radius: 2rem;
}

.about-text {
  font-size: 1.5rem;
}
