.about {
  grid-row: 3;
  grid-column: 2 / 14;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
}

.view {
  min-height: 50vh !important;
}

.about-title {
  font-size: 3.7rem;
  font-weight: 300;
  color: var(--primary-color);
}

.about-image {
}

.aboutImage {
  border-radius: 2rem;
}

.about-text {
  font-size: 1.4rem;
}
