.choose {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(4rem, 1fr)
    [full-end];
  grid-column: 1/ -1;
  background-color: black;
  padding: 4rem 0rem;
  grid-row: 4;
  color: white;
}

.choose-wrapper {
  display: grid;
  grid-column: 3/13;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 2rem;
}

.choose-title {
  font-size: 3.7rem;
  font-weight: 300;
  grid-column: 6 / 10;
  & .choose-secondary {
    color: var(--primary-color);
  }
}

.choose-subTitle {
  grid-column: 6 / 10;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}

.verified,
.parts,
.trust {
  border-radius: 2rem;
  text-align: center;
  padding: 2rem 3rem;
  border: 2px solid var(--primary-color);
  & svg {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    align-items: center;
  }
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.card-text {
  font-size: 1.3rem;
}
