.choose {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(4rem, 1fr)
    [full-end];
  grid-column: 1/ -1;
  background-color: black;
  grid-row: 4;
  color: white;
  text-align: center;
  padding-bottom: 4rem;
}

.choose-wrapper {
  display: grid;
  grid-column: 3/13;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
  grid-row: 3;
}
.choose-title {
  font-size: 6rem;
  grid-row: 1;
  grid-column: 1 / -1;
  padding-top: 4rem;
}

.choose-subTitle {
  grid-row: 2;
  grid-column: 1 / -1;
  font-size: 1.5rem;
}

.verified,
.parts,
.trust {
  display: grid;
  grid-template-rows: minmax(4rem, min-content) min-content;
  justify-items: center;
  padding: 2rem;
  gap: 0.6rem;
}

.verified,
.parts,
.trust {
  border-radius: 2rem;
  border: 2px solid var(--primary-color);
  & svg {
    height: 3rem;
    width: 3rem;
  }
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.card-text {
  font-size: 1.8rem;
  text-align: center;
}
