.header {
  grid-row: 1;
  grid-column: 1 / -1;
  position: relative;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  & a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

.logo-girl {
  height: 7rem;
  width: 7rem;
}
