.header {
  grid-row: 1;
  grid-column: 1 / -1;
  position: relative;
}

.navigation-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navigation-items {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
}

.navigation-link {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

.logo-girl {
  height: 7rem;
  width: 7rem;
}
