.header {
  grid-row: 1;
  grid-column: 1 / -1;
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-links {
  display: flex;
  gap: 4rem;
}

.logo-girl {
  height: 7rem;
  width: 7rem;
}
