.hero {
  display: grid;
  min-height: 100vh;
  grid-row: 1;
  grid-column: 1/ -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../public/images/HeroCarImageUpscale.png);
  background-position: center top;
  background-size: cover;
  grid-template-rows: min-content 1fr minmax(6rem, min-content) 14rem;
  color: #fff;
  padding: 4rem;
  & img {
    justify-self: center;
  }
}

.hero-title {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.hero-subtitle {
  font-size: 1.3rem;
  justify-self: center;
  text-align: center;
  align-self: center;
  letter-spacing: 0.05em;
}
