.hero {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row: 2;
  grid-column: 1/ -1;
  background-image: url(../public/images/HeroCarImageUpscale.png);
  background-position: center;
  background-size: cover;
}

.hero-title {
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 300;
}
