.hero {
  display: grid;
  grid-row: 2;
  grid-column: 1/ -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../public/images/HeroCarImageUpscale.png);
  background-position: center top;
  background-size: cover;
  grid-template-rows: repeat(2, 1fr);
  color: #fff;
  & > * {
    padding-left: 2rem;
  }
}

.hero-title {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  align-self: end;
  justify-self: center;
  text-align: center;
}

.hero-subtitle {
  font-size: 1.3rem;
  justify-self: center;
  text-align: center;
  align-self: center;
  letter-spacing: 0.05em;
}

.nav-links {
  a {
    color: #fff;
    font-size: 1.3rem;
  }
}
